*{
    margin: 0; /* definir o espaçamento externo ao redor de um elemento */
    padding: 0; /* definir o espaçamento interno de um elemento */
}

body{
    display: grid; /* cria layouts de grade flexíveis e responsivos */
    grid-template-areas: /* layout baseado em areas com nome */ 
    "cabeça cabeça cabeça cabeça"
    "lateral prin prin prin"
    "pé pé pé pé";
    grid-template-columns: auto auto auto auto; /* define as colunas do grid */
    grid-template-rows: auto auto auto auto; /* define as dimensões e a disposição da linha do grid */
}

#grad_h{
    grid-area: cabeça; /* atribuir uma área específica a um item */
    background-color: lightseagreen; /* cor de fundo */
    text-align: center; /* alinhamento do texto */
}

#grad_m{
    grid-area: prin; /* atribuir uma área específica a um item */
    background-color: lightblue; /* cor do fundo */
    font-size: 20px; /* tamanho do texto */
    align-items: center; /* alinha itens */
    text-align: center; /* alinhamento horizontal do texto */
}

#grad_f{
    grid-area: pé; /* atribuir uma área específica a um item */
    background-color:cornflowerblue; /* cor do fundo */
    background-image: linear-gradient(to right, cyan, rgb(49, 175, 233), rgb(83, 194, 231)); /* transição de cores */
    padding: 20px 0; /* Espaçamento interno do footer */
    text-align: center; /* alinhamento do texto */
    font-size: 21px; /* tamanho do texto */
}

#grad_a{
    grid-area: lateral; /* atribuir uma área específica a um item */
    background-color: lightslategray; /* cor do fundo */
    border: 6px groove darkblue; /* cor da borda */
    font-size: 20px; /* tamanho do texto */
}

#headimg{
    width: 100px; /* largura do elemento */
    height: 100px; /* altura do elemento*/
    background-image: url(Imagens/Barco.png); /* tag para colocar imagens */
    transition: 2s; /* cria uma leve transição */
}

#headimg:hover{
  transform: scale(1.3); /* transformação de escala */
}
.Image{
    width: 450px; /* largura do elemento */
    border: 6px groove darkblue; /* cor da borda */
    border-radius: 10%; /* arredondamento dos cantos */
}

.container{
  max-width: 960px; /* largura máxima do conteúdo */
  margin: 0 auto; /* centralizar o conteúdo horizontalmente */
}