body{
    display: grid;
    grid-template-areas: 
    "cabeça cabeça cabeça cabeça"
    "lateral prin prin prin"
    "pé pé pé pé";
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}

#grad_h{
    grid-area: cabeça;
    background-color: white;
    text-align: center;
}

#grad_m{
    grid-area: prin;
    background-color: white;
    font-size: 120%;
}

#grad_f{
    grid-area: pé;
    background-color: white;
}

#grad_a{
    grid-area: lateral;
    background-color: white;
}

#headimg{
    width: 7rem;
}

header{

}

main{
    text-align:justify;
    margin: auto;
    max-width: 800px;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1px 20px 1px 20px;
}