body{
    display: grid;
    grid-template-areas: 
    "cabeça cabeça cabeça cabeça"
    "lateral prin prin prin"
    "pé pé pé pé";
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}

#grad_h{
    grid-area: cabeça;
    background-color: rgb(0, 81, 255);
    text-align: center;
    max-width: 800px;
}

#grad_m{
    grid-area: prin;
    background-color: cyan;
    font-size: 120%;
}

#grad_f{
    grid-area: pé;
    background-color: deepskyblue;
}

#grad_a{
    grid-area: lateral;
    background-color: darkcyan;
}

#headimg{
    width: 7rem;
}

p{
    color: black;
    font-size: 25px;
}